---
import { Image } from 'astro:assets';
import mvBg from '../../assets/images/mayproject/img_mv_bg.avif';
import logoSvg from '../../assets/images/mayproject/logo_mei.svg';
---

<section class="MpMv" id="mv">
  <div class="MpMv__bg">
    <Image
      src={mvBg}
      alt=""
      class="MpMv__bgImg"
      widths={[640, 1280, 1920]}
      sizes="100vw"
      loading="eager"
    />
    <div class="MpMv__overlay"></div>
  </div>

  <h1 class="MpMv__heading">
    <img src={logoSvg.src} alt="桜草メイプロジェクト" class="MpMv__logo" width="320" height="172" />
  </h1>

  <div class="MpMv__side pc-only">
    <span class="MpMv__sideLine"></span>
    <span class="MpMv__sideText">桜草メイプロジェクト</span>
    <span class="MpMv__sideLine"></span>
  </div>
</section>

<style lang="scss">
  @use '../../styles/foundation/mixin' as mix;

  .MpMv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    overflow: hidden;
    z-index: 0;

    @include mix.mq(sp) {
      min-height: 500px;
    }

    &__bg {
      position: absolute;
      inset: 0;
      @include mix.mq(pc){
        top:96px;
      }
    }

    &__bgImg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__overlay {
      position: absolute;
      inset: 0;
    }

    &__heading {
      position: absolute;
      left: 48px;
      bottom: 48px;
      z-index: 1;
      margin: 0;

      @include mix.mq(sp) {
        left: 24px;
        bottom: 24px;
      }
    }

    &__logo {
      width: 280px;
      height: auto;
      display: block;
      filter: drop-shadow(0 2px 12px rgba(0, 0, 0, .25));

      @include mix.mq(sp) {
        width: 180px;
      }
    }

    // Side vertical text
    &__side {
      position: absolute;
      right: 48px;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
    }

    &__sideLine {
      width: 1px;
      height: 64px;
      background-color: rgba(255, 255, 255, .35);
    }

    &__sideText {
      writing-mode: vertical-rl;
      font-size: .875rem;
      letter-spacing: .4em;
      color: rgba(255, 255, 255, .35);
    }
  }
</style>
